
CustomPlugin.Core/bin/Debug/netstandard2.0/System.Runtime.Serialization.Formatters.Soap.dll
*.dll
*.pdb
CustomPlugin.Core/bin/Debug/netstandard2.0/CustomPlugin.Core.deps.json
CustomPlugin.Core/obj/CustomPlugin.Core.csproj.nuget.dgspec.json
*.props
*.targets
CustomPlugin.Core/obj/Debug/net46/.NETFramework,Version=v4.6.AssemblyAttributes.cs
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.csproj.CoreCompileInputs.cache
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.AssemblyInfo.cs
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.AssemblyInfoInputs.cache
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.AssemblyInfo.cs
CustomPlugin.Core/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
PKHeXCustomPlugin/obj/Debug/PKHeXCustomPlugin.csproj.CopyComplete
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.assets.cache
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.csproj.CopyComplete
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.csproj.FileListAbsolute.txt
CustomPlugin.Core/obj/Debug/net46/CustomPlugin.Core.csprojAssemblyReference.cache
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.AssemblyInfoInputs.cache
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.assets.cache
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.csproj.CopyComplete
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.csproj.CoreCompileInputs.cache
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.csproj.FileListAbsolute.txt
CustomPlugin.Core/obj/Debug/netstandard2.0/CustomPlugin.Core.csprojAssemblyReference.cache
CustomPlugin.Core/obj/project.assets.json
CustomPlugin.Core/obj/project.nuget.cache
CustomPluginTest/bin/Debug/netcoreapp3.1/CustomPluginTest.deps.json
CustomPluginTest/bin/Debug/netcoreapp3.1/CustomPluginTest.runtimeconfig.dev.json
CustomPluginTest/bin/Debug/netcoreapp3.1/CustomPluginTest.runtimeconfig.json
CustomPluginTest/obj/CustomPluginTest.csproj.nuget.dgspec.json
CustomPluginTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.AssemblyInfo.cs
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.AssemblyInfoInputs.cache
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.assets.cache
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.csproj.CopyComplete
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.csproj.CoreCompileInputs.cache
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.csproj.FileListAbsolute.txt
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.csprojAssemblyReference.cache
CustomPluginTest/obj/Debug/netcoreapp3.1/CustomPluginTest.genruntimeconfig.cache
CustomPluginTest/obj/project.assets.json
CustomPluginTest/obj/project.nuget.cache
PKHeXCustomPlugin/obj/Debug/.NETFramework,Version=v4.6.AssemblyAttributes.cs
PKHeXCustomPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PKHeXCustomPlugin/obj/Debug/PKHeXCustomPlugin.csproj.CoreCompileInputs.cache
PKHeXCustomPlugin/obj/Debug/PKHeXCustomPlugin.csproj.FileListAbsolute.txt
PKHeXCustomPlugin/obj/Debug/PKHeXCustomPlugin.csprojAssemblyReference.cache
PKHeXCustomPlugin/obj/PKHeXCustomPlugin.csproj.nuget.dgspec.json
PKHeXCustomPlugin/obj/project.assets.json
PKHeXCustomPlugin/obj/project.nuget.cache
